{% extends 'instructapp/base.html' %}

{%block content%}
<style>
    #course_title {
        font-family: Dancing Script;
        font-size: 50px;
    }
    #course_overview {
        color: black;
        background-color: #ce722cea;
        padding: 15px;
        border: double;
        border-color:#65DEF1;
        border-radius: 20px;
    }
    #lesson_expand {
        background-color: #ce722cea;
    }
    #lesson_background {
        background-color:#65DEF1;
    }
</style>
<div id="course_app">
    <div class="container">
        <div id="course_info">
            <div id="course_title">
                <div class="text-center">[[course.title]]</div>
            </div>
            <hr>
            <div id="course_overview">
                <div v-html="course.overview"></div>
            </div>
            <hr>
        </div>
        <div class="row">
            <div class="col">
                <span>Taught By: [[course.instructor]]</span>
                <br>
                <span>Start Date: [[course.start_date]]</span>
            </div>
            <div v-if="active_user != course.instructor_id" class="col d-flex justify-content-end">
                <button class="btn btn-primary" v-on:click="enrollCourse">Enroll</button>
            </div>
        </div>
        <hr>
        <!-- Modal launch for lesson creation -->
        <button v-if="active_user == course.instructor_id" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#lessonCreation">Create
            Lesson</button>
        <!-- Accordion for created lessons for the course -->
        <div class="row">
            <div class="accordion accordion-flush" id="lesson_accordian">
                <div id="lesson_background" v-for="(lesson, index) in lessons" class="accordion-item">
                    <h2 class="accordion-header" v-bind:id="'flush-heading' + index">
                        <button id="lesson_expand" class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            v-bind:data-bs-target="'#flush-collapse' + index" aria-expanded="false"
                            v-bind:aria-controls="'flush-collapse' + index">
                            [[lesson.title]]
                        </button>
                    </h2>
                    <div v-bind:id="'flush-collapse' + index" class="accordion-collapse collapse"
                        aria-labelledby="flush-headingOne" data-bs-parent="#lesson_accordian">
                        <div class="accordion-body">
                            <span v-html="lesson.overview"></span>
                            <hr>
                            <span>
                                [[lesson.due_date]]
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal for lesson creation -->
    <div class="modal fade" id="lessonCreation" tabindex="-1" aria-labelledby="lessonCreationLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="lessonCreationLabel">Lesson Creation</h5>
                </div>
                <div class="modal-body">
                    <div>
                        <label for="l_title">Title:</label>
                        <input v-model="l_title" class="form-control" id="l_title" type="text">
                    </div>
                    <div>
                        <label for="l_overview">Overview:</label>
                        <!-- <input type="hidden" name="l_overview" v-model="l_overview"> -->
                        <ckeditor v-model="l_overview" :config="editorConfig"></ckeditor>
                    </div>
                    <div>
                        <label for="l_due_date">Due Date:</label>
                        <input v-model="l_due_date" class="form-control" type="datetime-local">
                    </div>
                    <button type="submit" @click="createLesson" data-bs-dismiss="modal" class="btn btn-primary">Create Lesson</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Course_Page JS -->
<script type="text/javascript">
    let app = new Vue({
        el: '#course_app',
        delimiters: ['[[', ']]'],
        components: {
            // Use the <ckeditor> component in this view.
            ckeditor: CKEditor.component
        },
        data: {
            editorConfig: {},
            course: {},
            lessons: [],
            students: [],
            active_user: '{{user.id}}',
            l_title: '',
            l_overview: '<p></p>',
            l_due_date: '',
        },
        methods: {
            getCourse: function () {
                axios({
                    method: "get",
                    url: "{% url 'instructapp:get_course' %}",
                    params: {
                        course_id: "{{course_id}}",
                    },
                }).then((response) => {
                    this.course = response.data['course']
                    this.lessons = response.data['lessons']
                    this.students = response.data['students_enrolled']
                    console.log(this.students)
                })
            },
            createLesson: function(){
                axios({
                    method: "post",
                    url: "{% url 'instructapp:create_lesson' %}",
                    headers: {'X-CSRFToken':'{{ csrf_token }}'},
                    data:{
                        title: this.l_title,
                        overview: this.l_overview,
                        due_date: this.l_due_date,
                        course_id: "{{course_id}}",
                    }
                }).then((response) => {
                    this.getCourse()
                })
            },
            enrollCourse: function(){
                axios({
                    method:'post',
                    url:'{% url "instructapp:enroll" %}',
                    headers: {'X-CSRFToken':'{{ csrf_token }}'},
                    data: {
                        course_id: '{{course_id}}'
                    }
                }).then((response)=>{
                    this.getCourse()
                })
            }
        },
        created: function () {
            this.getCourse()
        }
    })
</script>
{%endblock%}