{% extends 'instructapp/base.html' %}

{% block title %}Hello!{% endblock %}

{% block content %}
<a href="{% url 'users:logout'%}" class="btn btn-success">Logout</a>
<h1>Profle Page</h1>
<div class="container">
    <div class="row">
        <div class="card">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Username: {{user.username}}</li>
                <li class="list-group-item">First Name: {{user.first_name}}</li>
                <li class="list-group-item">Last Name: {{user.last_name}}</li>
                <li class="list-group-item">E-Mail: {{user.email}}</li>
                <li class="list-group-item">Phone Number: {{user.phone_number}}</li>
                <li class="list-group-item">Birthday: {{user.birthday}}</li>
                <li class="list-group-item">Location: {{user.location}}</li>
            </ul>
            <div class="col">
                
            </div>
        </div>
    </div>
</div>
{% endblock %}