{% extends 'instructapp/base.html' %}

{% block title %}Hello!{% endblock %}

{% block content %}
<a href="{% url 'users:logout'%}" class="btn btn-success">Logout</a>



<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <img class="rounded-circle" src="{{user.profile_picture.url}}" width="300">
            </div>

        </div>
        <div class="col">
            <h1>{{user.username}}</h1>
        </div>
    </div>
    <div class="row">
        <div class="card">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">First Name: {{user.first_name}}</li>
                <li class="list-group-item">Last Name: {{user.last_name}}</li>
                <li class="list-group-item">E-Mail: {{user.email}}</li>
                <li class="list-group-item">Phone Number: {{user.phone_number}}</li>
                <li class="list-group-item">Birthday: {{user.birthday}}</li>
                <li class="list-group-item">Location: {{user.location}}</li>
            </ul>
        </div>
    </div>
    <!-- accordion -->
    <div class="row">
        <div class="col">
            <div class="accordion" id="accordionExample">
                {% for course in courses_taught %}
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            {{course.title}}
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            {{course.overview}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>
{% endblock %}